# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editor backup and temp files
*~
*.sic
*.swp
\#*\#
.\#*

# packaging
*.deb
debian/debhelper-build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/backintime-common
debian/backintime-gnome
debian/backintime-kde
debian/backintime-kde4
debian/backintime-notify
debian/backintime-qt

# compressed files
*.gz

# Compiled translations
*.mo

# Makefile
common/Makefile
qt/Makefile

# coveralls.io status
.coverage

# coverage result files (raw data and reports)
# .coverage  # already ignored, see above
**/htmlcov/**

# sphinx doc build
common/doc-dev/_build/doctrees
common/doc-dev/_build/html

# MkDocs
doc/manual/html/

# PyCharm IDE project settings
.idea

# Linter configuration
.flake8
