# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# editor backup
*~
*.sic

# packaging
*.deb
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/backintime-common
debian/backintime-gnome
debian/backintime-kde
debian/backintime-kde4
debian/backintime-notify
debian/backintime-qt4

# compressed files
*.gz

# Translations
*.mo

# Makefile
Makefile

#coveralls.io status
common/.coverage
