[Desktop Entry]
Name=Back In Time
Comment=Simple backup system
Exec=backintime-kde4
#Icon=gtk-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=KDE4
