Package: backintime
Version: 0.8.1
Section: gnome
Maintainer: Oprea Dan <dan@le-web.org>
Architecture: all
Depends: python, python-glade2, python-gnome2, diff, rsync
Description: Simple backup system for GNOME Desktop
