Package: backintime-notify
Version: 1.0.24
Priority: optional
Section: utils
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: libnotify-bin, backintime-common (>= 1.0.24~)
Description: Notifications using libnotify for BackInTime
