Package: backintime-gnome
Version: 1.0.24
Priority: optional
Section: gnome
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: x11-utils, python-glade2, python-gnome2, python-notify, python-keyring-gnome | python-gnomekeyring, meld, gksu, libnotify-bin, backintime-common (>= 1.0.24~), backintime-notify (>= 1.0.24~)
Description: Simple backup system for GNOME Desktop
 This is a GNOME GUI frontend for backintime-common.
