Package: backintime-gnome
Version: 0.9.99.70
Priority: optional
Section: gnome
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: x11-utils, python-glade2, python-gnome2, python-notify, meld, gksu, backintime-common (= 0.9.99.70)
Description: Simple backup system for GNOME Desktop
 This is a GNOME GUI frontend for backintime-common.
