#!/usr/bin/make -f

package = backintime-gnome

clean:
	dh_testdir
	dh_clean
	rm -f build

install: build
	#install python
	#dh_installdirs /usr/share/backintime/gnome
	dh_install *.py /usr/share/backintime/gnome
	dh_install *.glade /usr/share/backintime/gnome
	
	#install plugin
	#dh_installdirs /usr/share/backintime/plugins
	dh_install plugins/*.py /usr/share/backintime/plugins
	
	#install copyright file
	#dh_installdirs /usr/share/doc/backintime-gnome
	dh_install debian/copyright /usr/share/doc/backintime-gnome
	
	#install man file(s)
	#dh_installdirs /usr/share/man/man1
	dh_install man/C/*.gz /usr/share/man/man1
	
	#install application
	#dh_installdirs /usr/bin
	dh_install backintime-gnome /usr/bin
	
	#install .desktop file(s)
	#dh_installdirs /usr/share/applications
	dh_install *.desktop /usr/share/applications
	
	#install gnome-help file(s)
	#dh_installdirs /usr/share/gnome/help/backintime/C/figures
	dh_install docbook/C/*.xml /usr/share/gnome/help/backintime/C
	dh_install docbook/C/figures/*.png /usr/share/gnome/help/backintime/C/figures
	
	#dh_installdirs /usr/share/omf/backintime
	dh_install docbook/C/*.omf /usr/share/omf/backintime

build:
	touch build

binary-indep: install
	dh_testdir -i
	dh_testroot -i
	#dh_installdocs -i NEWS
	#dh_installchangelogs -i ChangeLog
	#dh_strip -i
	#dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	#dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: install

binary: binary-indep

.PHONY: binary binary-arch binary-indep clean

