Package: backintime-kde4
Source: backintime-kde4
Version: 1.0.24
Priority: optional
Section: kde
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: x11-utils, kdesudo, libnotify-bin, python-kde4 (>= 4.1), backintime-common (>= 1.0.24~), backintime-notify (>= 1.0.24~)
Suggests: kompare, python-keyring-kwallet
Conflicts: backintime-kde
Replaces: backintime-kde
Description: Simple backup system for KDE4 Desktop
 This is a KDE4 (>= 4.1) GUI frontend for backintime-common.
