[Desktop Entry]
Name=Back In Time (root)
GenericName=Backup
Exec=pkexec backintime-qt4
Icon=document-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=Qt;System;
Comment=Simple backup system
Comment[sl]=Enostaven sistem ustvarjanja varnostnih kopij
Keywords=automatic;snapshot;restore;rsync;root;
