[Desktop Entry]
Name=Back In Time (root)
GenericName=Backup
Exec=gksu backintime-qt4
NotShowIn=KDE;TDE;Razor;
Icon=document-save
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=Qt;GNOME;System;
Comment=Simple backup system
Comment[sl]=Enostaven sistem ustvarjanja varnostnih kopij
