Source: backintime
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 7), python3
Standards-Version: 3.9.5
Homepage: https://launchpad.net/backintime

Package: backintime-common
Section: utils
Priority: optional
Architecture: all
Depends: rsync, cron, openssh-client, python3-keyring, python3-dbus, ${python3:Depends}, ${misc:Depends}
Recommends: powermgmt-base, sshfs, encfs
Conflicts: backintime
Replaces: backintime
Description: Simple backup system (common)
 This package contains non GUI files used by different GUI fontends.

Package: backintime-qt4
Priority: optional
Section: utils
Architecture: all
Depends: x11-utils, libnotify-bin, python3-pyqt4, python3-dbus.mainloop.qt, policykit-1, backintime-common (>= ${source:Version}~), ${python3:Depends}, ${misc:Depends}
Recommends: python3-secretstorage
Suggests: meld | kompare
Conflicts: backintime-kde (<< ${source:Version}~), backintime-kde4 (<< ${source:Version}~), backintime-gnome (<< ${source:Version}~), backintime-notify (<< ${source:Version}~)
Replaces: backintime-kde (<< ${source:Version}~), backintime-kde4 (<< ${source:Version}~), backintime-gnome (<< ${source:Version}~), backintime-notify (<< ${source:Version}~)
Description: Simple backup system
 This is a Qt4 GUI frontend for backintime-common.

Package: backintime-kde
Priority: optional
Section: oldlibs
Architecture: all
Depends: backintime-qt4, ${misc:Depends}
Description: Virtual package
 This is a virtual package to replace backintime-kde from official repositories
 with backintime-qt4 from PPA. It can safely be removed.

Package: backintime-kde4
Priority: optional
Section: oldlibs
Architecture: all
Depends: backintime-qt4, ${misc:Depends}
Description: Virtual package
 This is a virtual package to replace backintime-kde4 with backintime-qt4.
 It can safely be removed.

Package: backintime-gnome
Priority: optional
Section: oldlibs
Architecture: all
Depends: backintime-qt4, ${misc:Depends}
Description: Virtual package
 This is a virtual package to replace backintime-gnome with backintime-qt4.
 It can safely be removed.

Package: backintime-notify
Priority: optional
Section: oldlibs
Architecture: all
Depends: backintime-qt4, ${misc:Depends}
Description: Virtual package
 This is a virtual package to replace backintime-notify with backintime-qt4.
 It can safely be removed.
