[Desktop Entry]
Version=1.0
Name=Backintime Password Cache
Exec=backintime --pw-cache start
Comment=Cache passwords for non-interactive Backintime cronjobs
Icon=gtk-save
Terminal=false
Type=Application
