# SPDX-FileCopyrightText: © 2009 Back In Time team
#
# SPDX-License-Identifier: CC0-1.0
#
# This file is released under Creative Commons Zero 1.0 (CC0-1.0) and part of
# the program "Back In Time". The program as a whole is released under GNU
# General Public License v2 or any later version (GPL-2.0-or-later).
# See LICENSES directory or go to <https://spdx.org/licenses/CC0-1.0.html>
# and <https://spdx.org/licenses/GPL-2.0-or-later.html>.
[Desktop Entry]
# Version of the Desktop Entry Specification
Version=1.5
Name=Back In Time
GenericName=Backup
Exec=backintime-qt
Icon=document-save
Terminal=false
Type=Application
StartupNotify=true
# See Desktop Menu Specification
Categories=Utility;System;Archiving;Qt;
# Limit comments to 80 chars (Desktop Entry Specification)               80th char --> |
Comment=Comfortable GUI for incremental (rsync) backups to save storage space
Comment[de]=Einfache GUI für inkrementelle (rsync) Backups zur Speicherplatzreduzierung
Keywords=backup;incremental;automatic;restore;rsync;

