# SPDX-FileCopyrightText: © 2009 Back In Time team
#
# SPDX-License-Identifier: CC0-1.0
#
# This file is released under Creative Commons Zero 1.0 (CC0-1.0) and part of
# the program "Back In Time". The program as a whole is released under GNU
# General Public License v2 or any later version (GPL-2.0-or-later).
# See LICENSES directory or go to <https://spdx.org/licenses/CC0-1.0.html>
# and <https://spdx.org/licenses/GPL-2.0-or-later.html>.
[Desktop Entry]
# Version of the Desktop Entry Specification
Version=1.5
Name=Back In Time
GenericName=Versioned Backups
Exec=backintime-qt
Icon=backintime
Terminal=false
Type=Application
StartupNotify=true
# See Desktop Menu Specification
Categories=Utility;System;Archiving;Qt;
# Limit comments to 80 chars (Not in Desktop Entry Spec but Debian Lintian)   80th char --> |
Comment=User-friendly GUI for versioned backups that reduces disk usage
Keywords=backup;incremental;automatic;restore;rsync;


GenericName[nn]=Ikkje fjern namngitte snapshot.
GenericName[pt_BR]=Manter os snapshots nomeados.
GenericName[et]=Ära kustuta nimedega varukoopiaid.
GenericName[bg]=Да не се премахват именувани архиви.
GenericName[uk]=Не видаляти названі резервні копії.
GenericName[sr]=Чувајте именоване снимке.
GenericName[hr]=Nemoj uklanjati imenovane snimke.
GenericName[ko]=이름이 붙은 스냅샷 유지.
GenericName[ru]=Не удалять переименованные снимки.
GenericName[tr]=Adlandırılmış yedekleri tut.
GenericName[da]=Behold navngivne tilstandsbilleder.
GenericName[fi]=Säilytä nimetyt varmuuskopiot.
GenericName[pl]=Zachowaj nazwane kopie zapasowe.
GenericName[eo]=Ne forigi nomitajn savkopiojn.
GenericName[zh_TW]=保留命名的快照。
GenericName[id]=Simpan cadangan yang dinamai.
GenericName[is]=Geyma nefnd skyndiafrit.
GenericName[sv]=Behåll namngivna säkerhetskopior.
GenericName[fr]=Conserver les sauvegardes nommées.
GenericName[he]=להשאיר גיבויים עם שמות.
GenericName[hu]=Elnevezett pillanatképek megtartása.