# SPDX-FileCopyrightText: © 2009 Back In Time team
#
# SPDX-License-Identifier: CC0-1.0
#
# This file is released under Creative Commons Zero 1.0 (CC0-1.0) and part of
# the program "Back In Time". The program as a whole is released under GNU
# General Public License v2 or any later version (GPL-2.0-or-later).
# See LICENSES directory or go to <https://spdx.org/licenses/CC0-1.0.html>
# and <https://spdx.org/licenses/GPL-2.0-or-later.html>.
[Desktop Entry]
# Version of the Desktop Entry Specification
Version=1.5
Name=Back In Time
GenericName=Versioned Backups
Exec=backintime-qt
Icon=backintime
Terminal=false
Type=Application
StartupNotify=true
# See Desktop Menu Specification
Categories=Utility;System;Archiving;Qt;
# Limit comments to 80 chars (Not in Desktop Entry Spec but Debian Lintian)   80th char --> |
Comment=User-friendly GUI for versioned backups that reduces disk usage
Keywords=backup;incremental;automatic;restore;rsync;


GenericName[pt]=Manter as cópias nomeadas.
GenericName[nn]=Ikkje fjern namngitte snapshot.
GenericName[sk]=Ponechať pomenované snímky.
GenericName[pt_BR]=Manter os snapshots nomeados.
GenericName[zh_CN]=保留已命名的备份。
GenericName[et]=Ära kustuta nimedega varukoopiaid.
GenericName[it]=Mantieni i backup con un nome.
GenericName[bg]=Да не се премахват именувани архиви.
GenericName[ar]=لا تُزيل اللقطات المُسماّة.
GenericName[uk]=Не видаляти названі резервні копії.
GenericName[gl]=Conservar as copias de seguranza con nome.
GenericName[sr]=Чувајте именоване снимке.
GenericName[sr_Latn]=Zadrži imenovane snimke.
GenericName[hr]=Nemoj uklanjati imenovane snimke.
GenericName[eu]=Mantendu izena duten babeskopiak.
GenericName[ko]=이름이 붙은 스냅샷 유지.
GenericName[es]=Conservar los respaldos con nombre.
GenericName[ru]=Не удалять переименованные снимки.
GenericName[fa]=پشتیبان‌های نام‌گذاری‌شده را نگه دار.
GenericName[tr]=Adlandırılmış yedekleri tut.
GenericName[fo]=Tak støðumynd burtur.
GenericName[da]=Behold navngivne tilstandsbilleder.
GenericName[nb]=Behold navngitte øyeblikksbilder.
GenericName[fi]=Säilytä nimetyt varmuuskopiot.
GenericName[de]=Benannte Sicherungen behalten.
GenericName[pl]=Zachowaj nazwane kopie zapasowe.
GenericName[el]=Κρατήστε αντίγραφα ασφαλείας με όνομα.
GenericName[eo]=Ne forigi nomitajn savkopiojn.
GenericName[vi]=Đừng xóa các bản snapshot đã được đổi tên.
GenericName[zh_TW]=保留命名的快照。
GenericName[ro]=Nu elimina instantaneurile denumite.
GenericName[id]=Simpan cadangan yang dinamai.
GenericName[lt]=Palikti atsargines kopijas, turinčias pavadinimus.
GenericName[is]=Geyma nefnd skyndiafrit.
GenericName[cs]=Neodstraňovat ty zálohy, které uživatel nějak nazval.
GenericName[sv]=Behåll namngivna säkerhetskopior.
GenericName[ja]=名前付きバックアップを保存する。
GenericName[fr]=Conserver les sauvegardes nommées.
GenericName[ca]=No eliminis les snapshots amb nom.
GenericName[he]=להשאיר גיבויים עם שמות.
GenericName[nl]=Genoemde momentopnames niet verwijderen.
GenericName[hu]=Elnevezett pillanatképek megtartása.
GenericName[sl]=Ne odstranjuj posnetkov z imenom.