# SPDX-FileCopyrightText: © 2016 Germar Reitze
# SPDX-FileCopyrightText: © 2017 Matthias Gerstner
# 
# SPDX-License-Identifier: GPL-2.0-or-later
# 
# This file is part of the program "Back In Time" which is released under GNU
# General Public License v2 (GPLv2). See LICENSES directory or go to
# <https://spdx.org/licenses/GPL-2.0-or-later.html>
[D-BUS Service]
Name=net.launchpad.backintime.serviceHelper
Exec=/usr/bin/python3 -Es /usr/share/backintime/qt/serviceHelper.py
User=root
