Package: backintime-common
Version: 1.0.99.02
Source: backintime-common
Section: utils
Priority: optional
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Homepage: http://backintime.le-web.org
Architecture: all
Depends: python3, rsync, cron, openssh-client, python3-keyring, python3-dbus
Recommends: powermgmt-base, sshfs, encfs
Conflicts: backintime
Replaces: backintime
Description: Simple backup system (common)
 This package contains non GUI files used by different GUI fontends.
