Package: backintime-common
Version: 0.9.99.31
Source: backintime-common
Section: utils
Priority: optional
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Homepage: http://backintime.le-web.org
Architecture: all
Depends: python, rsync, cron
Recommends: powermgmt-base
Conflicts: backintime
Replaces: backintime
Description: Simple backup system (common)
 This package contains non GUI files used by different GUI fontends.
