Package: backintime-common
Version: 0.9.99beta4
Priority: optional
Section: utils
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: python, rsync, cron
Recommends: powermgmt-base
Conflicts: backintime
Replaces: backintime
Description: Simple backup system (common)
 This package contains non GUI files used by different GUI fontends.
