Package: backintime-qt4
Source: backintime-qt4
Version: 1.0.29
Priority: optional
Section: utils
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: x11-utils, gksu | kdesudo, libnotify-bin, python-qt4, backintime-common (>= 1.0.29~), backintime-notify (>= 1.0.29~)
Suggests: meld | kompare, python-keyring-gnome | python-gnomekeyring | python-keyring-kwallet
Conflicts: backintime-kde (<< 1.0.29~), backintime-kde4 (<< 1.0.29~), backintime-gnome (<< 1.0.29~)
Replaces: backintime-kde (<< 1.0.29~), backintime-kde4 (<< 1.0.29~), backintime-gnome (<< 1.0.29~)
Description: Simple backup system
 This is a Qt4 GUI frontend for backintime-common.
