Package: backintime-qt4
Source: backintime-qt4
Version: 1.1.0~alpha03
Priority: optional
Section: utils
Maintainer: BIT Team <bit-team@lists.launchpad.net>
Architecture: all
Homepage: http://backintime.le-web.org
Depends: x11-utils, gksu | kdesudo, libnotify-bin, python3-pyqt4, consolekit, backintime-common (>= 1.1.0~alpha03~)
Suggests: meld | kompare, python-keyring-gnome | python-gnomekeyring | python-keyring-kwallet
Conflicts: backintime-kde (<< 1.1.0~alpha03~), backintime-kde4 (<< 1.1.0~alpha03~), backintime-gnome (<< 1.1.0~alpha03~), backintime-notify (<< 1.1.0~alpha03~)
Replaces: backintime-kde (<< 1.1.0~alpha03~), backintime-kde4 (<< 1.1.0~alpha03~), backintime-gnome (<< 1.1.0~alpha03~), backintime-notify (<< 1.1.0~alpha03~)
Description: Simple backup system
 This is a Qt4 GUI frontend for backintime-common.
